Django==5.2.4
djangorestframework
django-filter
drf-spectacular
djangorestframework-simplejwt
pytest
pytest-django
pre-commit
black
isort
flake8
django-autocomplete-light
django-bootstrap5
psycopg2-binary
python-dotenv
dj-database-url
gunicorn
uvicorn